/* Base */
@font-face {
    font-family: futura;
    src: url(../assets/Futura-Bold.ttf);
}

@font-face {
    font-family: Helvetica;
    src: url(../assets/HelveticaNowText-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

*::selection {
    color: white;
    background-color: black;
}

html, body {
    height: 100%;
    width: 100%;
}

/* Navigation Bar */

#nav {
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#nav-logo {
    height: 80px;
    overflow: hidden;
}

#nav-logo svg {
    display: block;
}

#nav #nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links a{
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0px 20px;
}

#icons {
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}

#icons i{
    font-size: 18px;
    margin: 0px 20px;
    font-weight: 100;
}

/* Cursor */

#cursor {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: transparent;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
    transition: background-color 0.3s ease;
}

/* Hero Banner */

#page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 1vw;
    padding-top: 28vh;
}

#page1 h1{
    font-size: 15vw;
    font-family: futura;
    text-transform: uppercase;
    line-height: 15vw;
    letter-spacing: -8px;
}

#video{
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
    position: relative;
}

#video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video #play {
    padding: 3vw 2.3vw;
    background-color: black;
    color: white;
    font-size: 1.3vw;
    text-transform: uppercase;
    font-family: futura;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

/* Product Section */

#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
}

#page2 .elem {
    height: 100%;
    width: 30%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

#page2 .elem .dets{
    position: absolute;
    will-change: transform;
    opacity: 1;
}

#page2 .elem .dets .dets-info{
    background-color: #f5dfcf;
    padding: 0 32px;
    width: 303px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.dets .container{
    background-color: #f5dfcf;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    padding-top: 50px;
    z-index: -1;
    transition: height 0.25s cubic-bezier(0.22, 0.57, 0.12, .96);
    will-change: height;
}

#page2 .elem .dets .container .listing{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container .listing .list-elem img{
    height: 118px;
    margin-top: 20px;
    margin-bottom: 6px;
}

#duobook{
    transform: scale(1.4);
    margin-bottom: 41px;
}

.container .listing .list-elem p{
    font-size: 12px;
    margin: 10px 10px;
    text-align: center;
}

.elem .dets:hover .container{
    height: auto ;
}
